.table {
	display: table;
	width: 400px;
	border: 1px solid black; 
}

.table-header {
	
}

.table-row {
	display: table-row;
	border: 1px solid black;
}

.table-cell {
	display: table-cell;
	border: 1px solid black;
	padding: 10px;
}